*.hgignore.save
*.hgignore
*.txt~
*.hgignore~
*.pydevproject
*.pyc
*.orig
*.bak
*.db
*.log
*.DS_Store
*.py~
*.css~
*.html~
*.js~
*.mp4
local_settings.py
cron_files/chronograph.cron
media/tmp/*
media/videos/*
media/css/style/*
videos/migrations*/*
accounts/migrations*/*
metatags/migrations/*
thumbsup/migrations/*
emailnotify/migrations/*
api/migrations/*
about/migrations/*
amazon/migrations/*
dump/*

java/java_src/cert/*

java/java_src/build/*
java/java_src/dist/*
java/java_launch/dist/*
java/java_launch/build/*

syntax: regexp
^\.project$
reports/*
