{% extends "site_base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
{% if validlink %}
<div>
	<div>
		<h1>Change Password</h1>
                <p>
		Please
		enter in your <strong>new</strong> password:
               	</p>
				
		<form id="formResetPassword" method="post" action="" class="box password-reset-confirm">
            {% csrf_token %}
	         <div class="field">
	            <label for="id_new_password1">New Password {{ form.new_password1  }}</label><br>
	            {% if form.errors.new_password1  %}<span class="spanInputError"></span>{% endif %}<span class="error">{{ form.errors.new_password1  }}</span>
	         </div>
	         <div class="field">
	            <label for="id_new_password2">Confirm New Password {{ form.new_password2  }}</label><br>
	            {% if form.errors.new_password2  %}<span class="spanInputError"></span>{% endif %}<span class="error">{{ form.errors.new_password2  }}</span>
	         </div>
	         <div class="field submit">
                <button type="button" class="input-cancel" onclick="window.location='{% url login %}'" class="btnCancel"> Cancel </button>
                <input type="submit" class="input-submit" value="Continue" />
	         </div>
		</form>
	</div>
</div>
{% else %}
<div>
	<h1>Password Reset Unsuccessful</h1>
	<p>The password reset link was <strong>invalid</strong>, possibly because it has already been used.  Please request a new password reset link.</p>
</div>
{% endif %}

{% endblock %}
