{% extends "site_base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}

<div>
            	
	<div>
                <h1>Thank You!</h1>
                <p>
		    An email has been sent to your <strong>e-mail address</strong> for you to reset your password.
                </p>
		<br />
		<div><button type="button" onclick="window.location='{% url login %}'">Log-in</button></div>					
	</div>                
                
                
</div>

{% endblock %}
