{% extends "site_base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
            <div>
                <div>
                    	<h1>Change Password</h1>
                    	<p>
			Your password has <strong>successfully</strong> been changed.<br />
			You may go ahead and log in now.
                    	</p>
		    	<br />
		 	<div><button type="button" onclick="window.location='{% url login %}'" class="btnSubmit">Continue +</button></div>
														
                </div>
                
            </div>
{% endblock %}
