{% extends "site_base.html" %}

{% block title %}Password reset{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    if($(".error").length != 0){
        if($(".error").html().indexOf("Are you sure you've registered?") != -1){
            $(".error a").hide()
        }
    }
});
</script>
{% endblock %}
{% block content %}

<div class="clear">
		<div>
            <h1>Forgot your Password?</h1>
			<form id="formResetPassword" method="post" action="" class="box password-reset-form">
                {% csrf_token %}
                <div class="field">
	                <label class="text">Please enter your <em>Username</em> or <em>E-mail</em>  below. </label>
                </div>
	            <div class="field">
	                <label>{{ form.email_username }}</label><br>
	            </div>
	            <div class="field submit">
                    <input type="submit" class="input-submit" value="Continue" />
	            </div>
	             <div class="field">
	                {% if form.errors.email_username %}
	                    <span class="error" style="color:red">
	                        {% for e in form.email_username.errors %}
	                            {{e}}
	                        {% endfor %}&nbsp;
	                        <a href="{% url begin "facebook" %}?next={% url login_auth %}?oauth_next={{request.build_absolute_uri}}" id="facebook" style="text-decoration: none;">&nbsp;</a>
		                    <a href="{% url begin "google" %}?next={% url login_auth %}?oauth_next={{request.build_absolute_uri}}" id="google" style="text-decoration: none;"></a>
                        </span><br>
                    {% endif %}
	             </div>
			</form>
		</div>               
</div>

{% endblock %}
