<html>
<head>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/style_screenbird.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.1.min.js"></script>
<script src="{{ MEDIA_URL }}js/mediaelementjs/mediaelement-and-player.min.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.simplemodal.1.4.1.min.js"></script>
<script src="{{ MEDIA_URL }}js/script.js"></script>
<!-- Pat css -->
<link rel="stylesheet" href="{{ MEDIA_URL }}css/grid.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/normalize.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css" type="text/css" media="screen" />
</head>
<body style="min-width:640px; height:400px; padding:10px;">
<div id="video" style="padding:10px; margin-left:auto; margin-right: auto; height: 400px; width: 640px;">
    <a href="{{ back_url }}">Back to video list</a>
    <div id="media" style="margin-top:10px;">
    {% if video_status == 'OK' %}
        <video autobuffer controls preload="auto" width="640" height="360" id="player" autoplay="true" poster="{{ MEDIA_URL }}gfx/black-background-640x360.jpg">
            {% if video.youtube_embed_url %}
                <source type="video/youtube" src="{{video.youtube_embed_url}}"/>
            {% else %}
                {% if not video.expired %}
                    {% if video %}
                        <source type="video/mp4" src="{% url get-video-content video.id %}"/>
                    {% endif %}
                {% endif %}
            {% endif %}
            Your browser does not support the video tag.
            <!-- Fallback flash player for no-HTML5 browsers with JavaScript turned off -->
            <object width="640" height="360" type="application/x-shockwave-flash" data="{{ MEDIA_URL }}js/mediaelementjs/flashmediaelement.swf">
                <param name="movie" value="{{ MEDIA_URL }}js/mediaelementjs/flashmediaelement.swf" />
                {% if video_status == 'OK' %}
                    <param name="flashvars" value="autoplay=true&amp;controls=true&amp;file={% url get-video-content video.id %}" />
                {% endif %}
                <!-- Image fall back for non-HTML5 browser with JavaScript turned off and no Flash player installed -->
                <img src="" width="640" height="360" title="No video playback capabilities" />
            </object>
        </video>
    {% else %}
        <div id='video-not-available'>
            {% if video_status == 'WAIT' %}
                <span class="oops">Sit tight...</span><br />
                Your video is being processed.
                <br />Thanks.
            {% endif %}
            {% if video_status == 'DELETED' %}
                <span class="oops">Oops!</span><br />
                The video you are trying to view was already removed from this site.
                <br />Thanks.
            {% endif %}
            {% if video_status == 'DNE' %}
                <span class="oops">Oops!</span><br />
                The video you are trying to view does not exist.
                <br />Thanks.
            {% endif %}
            
            
        </div>
    {% endif %}
    </div>
</div><!-- end of video div -->
</body>
</html>
