{% extends "site_base.html" %}

{% block header %}{% endblock %}

{% block content %}
<style>
    #main form p{
        padding: 0 420px 0 60px;
    }
    #main form p input{
        float: right;
    }
</style>
    <h1>Verify Your Details</h1>				
    <h2>Are Your Entries Correct?</h2>
    {% if error_message %}
           <h3>{{ error_message }}</h3>
    {% else %}
            <h3>{{ success_message }}</h3>
    {% endif%}
        <div>
            <form action="{% url upgrade_account %}" method="post">{% csrf_token %}
                {{ form.as_p }}
                <p>
		<input type="submit" value="Verify and Submit" />
                </p>
            </form>
        </div>   
{% endblock %}
