<form method="post" name="aweber" class="af-form-wrapper" action="http://www.aweber.com/scripts/addlead.pl"  target="_blank">
<div style="display: none;">
<input type="hidden" name="meta_web_form_id" value="856363354" />
<input type="hidden" name="meta_split_id" value="" />
<input type="hidden" name="listname" value="pastevidfree" />
<input type="hidden" name="redirect" value="http://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_039681da162b2e950d8e2b1fb7d12404" />

<input type="hidden" name="meta_adtracking" value="Create_Account" />
<input type="hidden" name="meta_message" value="1" />
<input type="hidden" name="meta_required" value="name,email" />

<input type="hidden" name="meta_tooltip" value="" />
</div>
<div id="af-form-856363354" class="af-form"><div id="af-header-856363354" class="af-header"><div class="bodyText"><p>&nbsp;</p></div></div>
<div id="af-body-856363354" class="af-body af-standards">
<div class="af-element">
<label class="previewLabel" for="awf_field-26626590">Username:</label>
<div class="af-textWrap">
<input id="awf_field-26626590" type="text" name="name" class="text" value="{{ request.user.username }}"  tabindex="500" />
</div>
<div class="af-clear"></div></div>
<div class="af-element">
<label class="previewLabel" for="awf_field-26626591">Email: </label>
<div class="af-textWrap"><input class="text" id="awf_field-26626591" type="text" name="email" value="{{ request.user.email }}" tabindex="501"  />
</div><div class="af-clear"></div>
</div>
<div class="af-element buttonContainer">
<!-- <input name="submit" class="submit" type="submit" value="Submit" tabindex="502" /> -->
<div class="af-clear"></div>
</div>
<div class="af-element privacyPolicy" style="text-align: center"><p><a title="Privacy Policy" href="http://www.aweber.com/permission.htm" target="_blank">We respect your email privacy</a></p>
<div class="af-clear"></div>
</div>
</div>
<div id="af-footer-856363354" class="af-footer"><div class="bodyText"><p>&nbsp;</p></div></div>
</div>
<div style="display: none;"><img src="http://forms.aweber.com/form/displays.htm?id=HKxszGzMzKws" alt="" /></div>
</form>

<script type="text/javascript">
    //window.onload=document.aweber.submit();

    // Source: http://michaux.ca/articles/the-window-onload-problem-still
    function init() {
        // quit if this function has already been called
        if (arguments.callee.done) return;

        // flag this function so we don't do the same thing twice
        arguments.callee.done = true;

        // kill the timer
        if (_timer) clearInterval(_timer);

        // do stuff
        document.aweber.submit();
    };

    /* for Mozilla/Opera9 */
    if (document.addEventListener) {
        document.addEventListener("DOMContentLoaded", init, false);
    }

    /* for Internet Explorer */
    /*@cc_on @*/
    /*@if (@_win32)
        document.write("<script id=__ie_onload defer src=javascript:void(0)><\/script>");
        var script = document.getElementById("__ie_onload");
        script.onreadystatechange = function() {
            if (this.readyState == "complete") {
                init(); // call the onload handler
            }
        };
    /*@end @*/

    /* for Safari */
    if (/WebKit/i.test(navigator.userAgent)) { // sniff
        var _timer = setInterval(function() {
            if (/loaded|complete/.test(document.readyState)) {
                init(); // call the onload handler
            }
        }, 10);
    }

    /* for other browsers */
    window.onload = init;

</script>

<script type="text/javascript">    
    (function() {
        var IE = /*@cc_on!@*/false;
        if (!IE) { return; }
        if (document.compatMode && document.compatMode == 'BackCompat') {
            if (document.getElementById("af-form-856363354")) {
                document.getElementById("af-form-856363354").className = 'af-form af-quirksMode';
            }
            if (document.getElementById("af-body-856363354")) {
                document.getElementById("af-body-856363354").className = "af-body inline af-quirksMode";
            }
            if (document.getElementById("af-header-856363354")) {
                document.getElementById("af-header-856363354").className = "af-header af-quirksMode";
            }
            if (document.getElementById("af-footer-856363354")) {
                document.getElementById("af-footer-856363354").className = "af-footer af-quirksMode";
            }
        }
    })();
</script>
