{% extends "site_base.html" %}

{% block header %}{% endblock %}

{% block content %}
<h1>Account Created</h1>
<br/>
<p>
Way to go! Your account has been created and you can start making screen capture videos immediately. Just click the record button in the header and you’ll be able to store them in your own private account.
</p>
<p>
Also, we’ve just sent you a verification email. Please click the link in it to let us know you can get messages from us so we can notify you about your account as needed.
</p>
{% endblock %}
