{% extends "site_base.html" %}

{% block header %}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.tooltip.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tooltip.min.js"></script>
<script type="text/javascript">
window.onload = function() {
  document.getElementById("id_username").focus();
};
$(function() {
    $('#tooltip').tooltip();
});
</script>
{% endblock extrahead %}

{% block content %}
<h1>Log-in/Register</h1>
<div id="login-box">
    <h3>Log-in</h3>
    {% if error %}<div class="errorMsg">{{ error }}</div>
    {% else %}
    {% if login_form.errors.username and  login_form.errors.password %}<div class="errorMsg">Username or Password Incorrect</div>{% else %}
    {% if login_form.errors.username %}<div class="errorMsg">{{ login_form.errors.username }}</div>{% endif %}
    {% if login_form.errors.password %}<div class="errorMsg">{{ login_form.errors.password }}</div>{% endif %}{% endif %}
    {% endif %}
    <form action="{% url login %}?next={{ next }}" method="post" class="box login-form">{% csrf_token %}
        <div class="field">
            <label>Username 
            {{ login_form.username }}</label>
        </div>
        <div class="field">
            <label>Password 
            {{ login_form.password }}</label>
        </div>
        <div class="field">
            <span id="login-box-options" style="padding-left:150px;">{{ login_form.remember_me }} Remember Me <a href='/accounts/password_reset/' style="margin-left:30px;">Forgot password?</a></span>
        </div>
        <div class="field submit">
            <input type="submit" class="input-submit" value="Login" />
        </div>
        <div class="field">
            <label id="loginwith"><span id='loginwith'>Login with</span>&nbsp;
                <a href="{% url begin "facebook" %}?next={% url login_auth %}?oauth_next={{request.build_absolute_uri}}" id="facebook" style="text-decoration: none;">&nbsp;</a>
                <a href="{% url begin "google" %}?next={% url login_auth %}?oauth_next={{request.build_absolute_uri}}" id="google" style="text-decoration: none;"></a>
            </label>
        </div>
    </form>
</div><!-- /login-box -->

<div id="register-box">
    <h3>Register</h3>
    <form action="{% url register %}?next={{ next }}" method="post" class="box box160">
        {% csrf_token %}
        <div class="field">
            <label>Email Address {{ reg_form.email }}</label><br>
            {% if reg_form.errors.email %}<span class="spanInputError"></span>{% endif %}<span class="error">{{ reg_form.errors.email }}</span>
        </div>
        <div class="field">
            <label>Password {{ reg_form.password }}</label><br>
            {% if reg_form.errors.password %}<span class="spanInputError"></span>{% endif %}<span class="error">{{ reg_form.errors.password }}</span>
        </div>
        <div class="field">
            <label>Confirm Password {{ reg_form.confirm_password }}</label><br>
            {% if reg_form.errors.confirm_password %}<span class="spanInputError"></span>{% endif %}<span class="error">{{ reg_form.errors.confirm_password }}</span>
        </div>
        <div class="field">
            <label><i>Username</i> {{ reg_form.username }}</label>
            <div class="help_text">Optional&nbsp;<b title="Fill this out if you don't want the first part of your email to show as your username. You can always edit this later."  id="tooltip">[?]</b></div>
            {% if reg_form.errors.username %}<span class="spanInputError"></span>{% endif %}<span class="error">{{ reg_form.errors.username }}</span>
        </div>
        <div class="field submit">
            <input type="submit" class="input-submit" value="Submit" />
        </div>
    </form>
</div><!-- /register-box -->
{% endblock %}
